<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <main>
    <div>
      <h1>{{ todo_list_object.name }}</h1>
      <a href="{% url 'todo_list_update' todo_list_object.id %}">Edit</a>
      <br />
      <a href="{% url 'todo_list_delete' todo_list_object.id %}">Delete</a>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todo_list_object.items.all %}
          <tr>
            <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</td></a>
            <td>{{ item.due_date|date:"M d, Y" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
  <body></body>
</html>
